<SCRIPT language=JavaScript>
    function password() {
        var testV = 3;
        var pass1 = prompt('输入密码以完整访问:', 'Type here...');
        while (testV > 0) {
            if (!pass1)
                history.go(-1);
            if (pass1 == "agou-ops") {
                alert('密码正确!');
                break;
            }
            var pass1 = prompt('密码错误！你还有'+testV+'次机会.');
            testV += -1;
        }
        if (pass1 != "agou-ops" & testV == 0)
            // history.go(-1);
            window.alert("访客骂骂咧咧的走出了现场。");
            top.location.href="/"
        return " ";
    }
    document.write(password());
</SCRIPT>