<!-- Including InstantSearch.js library and styling -->
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch-theme-algolia.min.css">

<div id="search-searchbar"></div>
 <div class="post-list" id="search-hits">
 </div>

<script>
const searchClient = algoliasearch('5M8VQRD7W9', '6a2c773473e3d77a8e761f3f64825c5a');

const search = instantsearch({
  indexName: 'main-blog',
  searchClient,
});

search.addWidgets([
  instantsearch.widgets.searchBox({
    container: '#searchbox',
  }),

  instantsearch.widgets.hits({
    container: '#hits',
  })
]);

search.start();
</script>


<style> .ais-search-box { max-width: 100%; margin-bottom: 15px; } .post-item { margin-bottom: 30px; } .post-link .ais-Highlight { color: #111; font-style: normal; text-decoration: underline; } .post-breadcrumbs { color: #424242; display: block; } .post-breadcrumb { font-size: 18px; color: #424242; } .post-breadcrumb .ais-Highlight { font-weight: bold; font-style: normal; } .post-snippet .ais-Highlight { color: #2a7ae2; font-style: normal; font-weight: bold; } .post-snippet img { display: none; } </style>
