name: OSS #自动化的名称
on:
  push: # push的时候触发
    branches: # 那些分支需要触发
      - master
jobs:
  build:
    runs-on: ubuntu-latest # 镜像市场
    steps:
    - uses: actions/checkout@master #软件市场的名称
      with: # 参数
        submodules: true
    - uses: peaceiris/actions-hugo@v2.2.2
      with:
        hugo-version: '0.69.0'
        extended: true
    - name: Build
      run: hugo --minify
    # - uses: manyuanrong/setup-ossutil@v1.0
    #   with:
    #     # endpoint 可以去oss控制台上查看
    #     endpoint: "oss-cn-hangzhou.aliyuncs.com"
    #     # 使用我们之前配置在secrets里面的accesskeys来配置ossutil
    #     access-key-id: ${{ secrets.ACCESS_KEY_ID }}
    #     access-key-secret: $  {{ secrets.ACCESS_KEY_SECRET }}
    # - name: Deply To OSS
    #   run: ossutil cp public oss://agou-ops/myBlog -rf
    - name: Upload to oss
      id: upload_to_oss
      uses: tvrcgo/upload-to-oss@v0.1.1
      with:
        key-id: ${{ secrets.ACCESS_KEY_ID }}
        key-secret: ${{ secrets.ACCESS_KEY_SECRET }}
        region: oss-cn-hangzhou
        bucket: agou-ops
        asset-path: ./
        target-path: /myBlog